#experience {
  .background-container {
    height: 190px;
    overflow: hidden;

    .header-image {
      bottom: 194px;

      @media (max-width: 700px) {
        bottom: 20px;
      }
    }
  }

  .headshot-container {
    display: flex;
    justify-content: center;
  }
}
