p {
  font-family: Didact Gothic;
}

a,
h2,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lexend Deca;
  margin: 8px 0;
}

h3,
a {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* TODO - move colors and font sizes to a shared theme stylesheet */

a:hover {
  text-decoration: none;
  color: #802bb1;
}

h4 {
  text-transform: uppercase;
  font-size: 11px;
}
