#layout {
  #navbar {
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: -webkit-sticky /* Safari */;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    padding: 4px;
    transition: top 0.3s;
  }

  .navigation-links {
    width: 300px;
    justify-content: space-around;
    display: flex;
  }

  .footer {
    height: 200px;
    background-color: white;
    padding-top: 40px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .twitter-icon {
      width: 30px;
      display: inline-block;
    }
  }

  .copyright {
    text-align: center;
  }
}
